@import './variables.scss';

.footer {
    margin-inline: auto;
    padding: $footer-padding;

    max-width: 100%;
    width: calc(100% - 0.75rem*2);

    background-color: $main-color;
    color: $footer-color;

    text-align: center;
    font-size: $footer-font-size;

    & a.dark {
        color: orange;
        &:visited {
            color: yellow;
        }
    }
}