@import './colors.scss';

// utility classes
.clr-primary {
    color: var(--color, $clr-primary);
}
.bg-primary {
    background-color: var(--bg-color, $clr-primary);
}
.clr-accent {
    color: var(--color, $clr-accent);
}
.bg-accent {
    background-color: var(--bg-color, $clr-accent);
}
.clr-white {
    color: var(--color, white);
}
.bg-white {
    background-color: var(--bg-color, white);
}
.link-light {
    a:not(.btn) {
        color: var(--color, $link-light-clr);
        &:visited {
            color: var(--color, $link-light-hover-clr);
        }
    }
}