// colors
$color-accent: #993333;
$color-primary: lch(5% 0 180);
$bg-primary: white;
$bg-accent: white;

// nav
$nav-bg-end: lch(5% 0 180);
$nav-bg: linear-gradient(lch(15% 0 180), $nav-bg-end);
$nav-gradient-start: rgba(0, 0, 0, 0.4);

// nav button
$nav-btn-bg: linear-gradient(white, lightgray);
$nav-btn-text: white;
$nav-btn-hover-darken-amt: 90%;

// main
$main-color: lch(25% 0 180);

// footer
$footer-color: lch(75% 0 180);

// utility classes
.clr-primary {
    color: var(--color, $color-primary);
}
.clr-accent {
    color: var(--color, $color-accent);
}
.bg-primary {
    background-color: var(--bg-color, $bg-primary);
}
.bg-accent {
    background-color: var(--bg-color, $bg-accent);
}
