// colors
$clr-primary: hsl(0, 0%, 7%);
$clr-accent: hsl(180, 50%, 80%);
$clr-primary: hsl(0, 50%, 40%);
$link-light-clr: hsl(60, 100%, 50%);
$link-light-hover-clr: hsl(120, 100%, 25%);

// nav
$nav-bg-end: hsl(0, 0%, 7%);
// $nav-bg: linear-gradient(lch(15% 0 180), $nav-bg-end);
$nav-gradient-start: hsla(0, 0%, 0%, 0.4);

// nav button
$nav-btn-bg: white;
$nav-btn-text: white;
$nav-btn-hover-darken-amt: 90%;

// main
$main-color: hsl(0, 0%, 23%);

// footer
$footer-color: hsl(0, 0%, 73%);