@import './variables.scss';
@import './colorClasses.scss';

html {
  // background: $clr-accent;
  // color: $clr-primary;

  font-family: var(--font-family, $site-font), system-ui, sans-serif;

  min-height: 100%;
}

body {
  margin: $site-main-margin;

  min-height: calc(100dvh - ($site-main-margin*2));

  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  width: 100%;

  box-sizing: border-box;
  margin-inline: auto;

  background: white;
  color: $main-color;
}

img, image {
  max-width: 100%;
}

.page-title {
  margin-inline: auto;

  max-width: $site-items-width;
  color: $clr-primary;

  font-size: $page-title-font-size;
  font-weight: $page-title-font-weight;

}

.page-title, .page-description {
  text-align: center;
  text-transform: uppercase;
  text-wrap: balance;
}

.page-description {
  margin-block: 0;
}

.page-description, .content p {
  box-sizing: border-box;
  margin-inline: auto;
  padding-inline: $main-padding;

  width: min($site-items-width, 100%);
  max-width: 100%;

  font-size: $content-font-size;
  line-height: $content-line-height;
}

.content {
  margin-block-start: $main-gap;
  display: flex;
  flex-direction: column;

  p:not(:last-child, :has( + .split-area)) {
    margin-block-end: 0;
  }
  & > *:not(:first-child, .split-area, .horizontal-bar) {
    &:not(.horizontal-bar + &) {
      margin-block-start: $main-gap;
    }
  }
  & > *:is(:last-child, :has( + .split-area)):not(.split-area, .horizontal-bar) {
    margin-block-end: $main-gap;
  }  
}

code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
}

.btn {
  display: inline-block;

  padding: 0.75rem 1.5rem;

  color: var(--color, $btn-color);
  background-color: var(--bg-color, $btn-bg);

  border: solid 1px var(--border-color, $btn-border-clr);
  border-radius: var(--border-radius, $btn-border-radius);

  font-size: var(--font-size, calc((1rem/1rem) * $btn-font-size));
  text-decoration: none;
  line-height: 100%;

  &.large {
    font-size: var(--font-size, calc((1rem/1rem) * $btn-large-font-size));
  }

  .bg-primary &:is(:hover, :focus) {
    background-color: var(--bg-color, $clr-accent);
  }
  .bg-accent &:is(:hover, :focus) {
    background-color: var(--bg-color, $clr-primary);
    color: var(--color, white)
  }
}

.vertical-bar {
  width: $bar-size;
  min-height: 100%;
  border-radius: var(--border-radius, $site-items-border-radius);
  background-color: $nav-gradient-start;
}

.horizontal-bar {
  height: $bar-size;
  min-width: 100%;
  margin-block: $main-gap;
  background-color: $nav-gradient-start;
  border-radius: var(--border-radius, $site-items-border-radius);
}
.split-area + .horizontal-bar, 
.horizontal-bar:first-child {
  margin-block-start: 0;
}
.horizontal-bar:has(+ .split-area), 
.horizontal-bar:last-child {
  margin-block-end: 0;
}



.donate {
  &:not(.btn) {
    display: inline-block;
  }
  &__image {
      max-width: 7.0625rem;
      .large & {
          max-width: 14.125rem;
      }
  }
}

.content p:has(.donate) {
  line-height: 100%;
}