@import './variables.scss';

.header {
    box-sizing: border-box;
    position: relative;
    padding-inline: $header-padding;

    min-height: $header-min-height;
    width: $site-items-width;
    max-width: 100%;
    
    background-color: $site-accent;

    display: flex; // grid;
    justify-content: space-between;
    // flex-direction: column;
    // grid-template-columns: 1fr 1fr;

    &__gradient {
        position: absolute;
        top: 100%;

        width: 100%;
        height: 2px;

        background-image: linear-gradient($nav-gradient-start, transparent);
    }

    &__banner {
        max-height: $header-min-height;
        aspect-ratio: 1000 / 288;

    }
}

.nav {
    position: relative;
    box-sizing: border-box;
    padding-inline: $header-padding;

    min-height: 40px;
    width: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $nav-gap;

    & > *  {
        box-sizing: border-box;
    }

    &__btn {
        color: $nav-btn-text;
        // height: 100%;
        padding: $nav-btn-padding;
        // outline: solid 1px red;
        font-size: $nav-btn-font-size;
        line-height: 1;
        text-transform: uppercase;
        text-decoration: none;

        &.page__selected {
            font-weight: $nav-curr-btn-font-weight;
        }

        &:hover, &:focus {
            background: $nav-btn-bg;
            color: darken($nav-btn-text, $nav-btn-hover-darken-amt)
        }
    }
}

@media (width < 572px) {

}