@import './variables.scss';

.split-area {
    aspect-ratio: 20 / 5;
    margin: $main-gap;
    & > * {
        box-sizing: border-box;
    }
}

/* match the section padding for the text blocks for consistency */
.split-area > .area {
    padding: $main-gap;
    display: grid;
    border-radius: var(--border-radius, $site-items-border-radius);
    
    p:not(:last-child, :has( + .split-area)) {
        margin-block-end: 0;
    }
    & > * {
        margin-block-end: 0;
    }
    & > *:first-child {
        margin-block-start: 0;
    }
    & > *:not(:first-child) {
        margin-block-start: $main-gap;
    }
}
  
@media (min-width: calc(525px - $main-gap*2)) {
    .split-area {
        /* outermost columns emulate the spacing from the .wrapper while the two inner columns divide the rest of the space into two equal parts */
        display: grid;
        grid-template-columns: 1fr $split-area-vertical-bar-width 1fr;
  
        gap: $main-gap;
            /* for positioning the pseudo-elements to fill in the rest of the background*/
        position: relative;
    }
  
    /* ensure the image fill up the entire space available */
    .split-area > .img-parent {
        width: 100%;
        height: 100%;

        position: relative;
        overflow-y: hidden;

        & > img {
            position: absolute;
            left: 50%;
            top: var(--top, 50%);
            translate: -50% var(--translate-y, -50%);

            min-width: 100%;
            min-height: 100%;

            object-fit: cover;
        }
    }

    .split-area > .vertical-bar {
        background-color: black;
        border-radius: var(--border-radius, $site-items-border-radius);
    }
  
    /* make sure text doesn't touch the edge of the viewport and the content is vertically centered */
    .split-area > .area {
        align-content: center;

        & > * {
            padding-inline: 0;
            box-sizing: border-box;
        }
    }
  }
