@import './variables.scss';

// .split-area {
// }

.split-area {
    margin-block-start: 0;
    aspect-ratio: 20 / 5;
    // padding-inline: $main-gap;
}

.split-area > * {
    box-sizing: border-box;
}

/* match the section padding for the text blocks for consistency */
.split-area > .area {
    // padding-block: $main-gap;
    display: grid;
    
    p:not(:last-child, :has( + .split-area)) {
        margin-block-end: 0;
    }
    & > * {
        margin-block-end: 0;
    }
    & > *:first-child {
        margin-block-start: 0;
    }
    & > *:not(:first-child) {
        margin-block-start: $main-gap;
    }
}
  
@media (min-width: calc(525px - $main-gap*2)) {
    .split-area {
        /* outermost columns emulate the spacing from the .wrapper while the two inner columns divide the rest of the space into two equal parts */
        display: grid;
        grid-template-columns:
            minmax($main-gap, 1fr)
            minmax(0, calc(min(100%, $site-items-width) / 2))
            $split-area-vertical-bar-width
            minmax(0, calc(min(100%, $site-items-width) / 2))
            minmax($main-gap, 1fr);
  
        // gap: $main-gap;
            /* for positioning the pseudo-elements to fill in the rest of the background*/
        position: relative;
    }
  
    /* ensure the image fill up the entire space available */
    .split-area > .img-parent {
        width: 100%;
        height: 100%;

        position: relative;
        overflow-y: hidden;

        & > img {
            position: absolute;
            left: 50%;
            top: var(--top, 50%);
            translate: -50% var(--translate-y, -50%);

            min-width: 100%;
            min-height: 100%;

            object-fit: cover;
        }
    }

    .split-area > .vertical-bar {
        grid-column: 3 / 4;
    }
  
    /* if the image is on the left, it covers the entire left half */
    .split-area > .img-parent:first-child {
        grid-column: 1 / 3;
    }
  
    /* if the image is on the right, it covers the entire right half */
    .split-area > .img-parent:last-child {
        grid-column: 4 / -1;
    }
  
    /* make sure text doesn't touch the edge of the viewport and the content is vertically centered */
    .split-area > .area {
        align-content: center;

        & > * {
            padding-inline: 0;
            box-sizing: border-box;
        }
    }
  
    /* if the non-image is first, place it in the second column (first column is empty to emulate the .wrapper) */
    .split-area > .area:first-child {
        padding-right: $main-gap;
        grid-column: 2 / 3;
    }
  
    /* if the non-image is last, place it in the third column (fourth column is empty to emulate the .wrapper) */
    .split-area > .area:last-child {
        padding-left: $main-gap;
        grid-column: 4 / 5;
    }
  
    /* at large screens, ensure the background color goes to the edge of the page */
    .split-area > .area::before {
        content: '';
        position: absolute;
        inset: 0;
        background: inherit;
    }
  
    /* ensures the background color fills the entire left side */
    .split-area > .area:first-child::before {
        grid-column: 1 / 2;
    }
  
    /* ensures the background color fills the entire right side */
    .split-area > .area:last-child::before {
        grid-column: 5 / -1;
    }
}
