@import './colors.scss';

// global
$site-main-margin: 0rem; //0.625rem;
$site-items-width: 43.75rem;

$site-font: system-ui;
$page-title-font-size: 2rem;
$page-title-font-weight: normal;

// btn
$btn-border-clr: black;
$btn-bg: lch(83.5% 23.69 81.7);
$bth-border-width: calc((1em/1em) * 1px);
$btn-border-radius: 2em;
$btn-font-size: 15pt;
$btn-large-font-size: calc($btn-font-size + ($btn-font-size/2));

// header
$header-padding: 2rem;
$header-min-height: 6.25rem;

// nav
$nav-gap: 0;//1.5625rem;

// nav button
$nav-btn-padding: 0.625rem calc(2.5rem/3);
$nav-btn-font-size: 0.9375rem;
$nav-curr-btn-font-weight: bold;

// main
$main-padding: 1rem;
$main-gap: 1.5rem;

// content
$content-font-size: 0.9375rem;
$content-line-height: 1.5;

// footer
$footer-padding: 0.75rem;
$footer-font-size: 0.75rem;