---
import Layout from '../layouts/Layout.astro';
import SplitArea from '../components/SplitArea.astro';
---
<Layout title="Contact">
    <main id="content">
        <h1 class="page-title">Contact</h1>
        <section class="content">
            <div class="horizontal-bar" />
            <SplitArea idName="contact">
                <div class="bg-primary clr-white link-light area">
                    <p>
                        Please contact us with any questions at:
                    </p>
                    <p>
                        VANNI AID FOUNDATION<br>
                        c/o Josephine & Wiji Ratnathicam<br>
                        61 Mystic Drive<br>
                        Ossining, NY 10562<br>
                    </p>
                    <p>
                        <a href="tel:9147371358">(914) 737-1358</a><br>
                        <a href="mailto:vanniaid@gmail.com">vanniaid@gmail.com</a><br>
                        www.vanniaid.org
                    </p>
                </div>
                <div class="vertical-bar" />
                <div class="img-parent">
                    <img src="/ef3-placeholder-image.svg" alt=""/>
                </div>
            </SplitArea>
            <div class="horizontal-bar" />
            <SplitArea idName="donate">
                <div class="img-parent">
                    <img src="/ef3-placeholder-image.svg" alt=""/>
                </div>
                <div class="vertical-bar" />
                <div class="bg-accent area">
                    <p>Please contribute generously, as the future of these children is in your hands.</p>
                    <p>
                        <a href="/donate" class="donate btn">
                            Donate
                            <!-- <img class="donate__image" src="/assets/VanniAidDONATE.jpg" alt="Donate to Vanni Aid" /> -->
                          </a>
                    </p>
                    <p>
                        <em>
                            Vanni Aid Foundation is a <a href="http://www.irs.gov/Charities-&-Non-Profits/Charitable-Organizations/Exemption-Requirements-Section-501(c)(3)-Organizations">501(c)3</a> organization. Your contribution is tax deductible.
                        </em>
                    </p>
                </div>
            </SplitArea>
            <div class="horizontal-bar" />
            <p>
                Our GUIDESTAR profile links:<br>
                <a href="http://www.guidestar.org/organizations/45-2531243/vanni-aid-foundation.aspx">http://www.guidestar.org/organizations/45-2531243/vanni-aid-foundation.aspx</a><br>
                <a href="http://widgets.guidestar.org/gximage2?o=9143842&l=v1">http://widgets.guidestar.org/gximage2?o=9143842&l=v1</a>
            </p>
        </section>
    </main>
</Layout>