---
let deployNetlify = "https://app.netlify.com/start/deploy?repository=https://github.com/netlify-templates/astro-quickstart"
import Layout from '../layouts/Layout.astro';
import SplitArea from '../components/SplitArea.astro';
import '../styles/index.scss';
---
<Layout title="">
  <main id="content">
    <h1 class="page-title">Home</h1>
    <p class="page-description">
      <strong>Vanni Aid Foundation works to support the livelihood of the children of Vavuniya, Sri Lanka</strong>
    </p>
    <section class="content">
      <p>
        The disruption in education during the civil war has left the majority of middle and high school students with a very poor knowledge of English. A good command of the English language is essential for the future of these children.
      </p>
      <p>
        We are now 10+ yeas into the supplemental English Program, and out students consistently and significantly outperform their peers on the standardized test they are required to take.
      </p>
      <p>
        We have committed to the program through the end of the year and would like to continue to support it.  That said, the expense is significant, and we need your help to continue to fund this until the people in Vavuniya are better able to self-sustain.  It costs roughly $20 US to support one student for 10 weeks, so while the costs add up at scale, small donations can have significant impact.  
      </p>
      <SplitArea idName="donate">
        <img src="http://via.placeholder.com/683x341.5" alt=""/>
        <div class="bg-accent clr-white">
          <p>Please contribute generously, as the future of these children is in your hands.</p>
          <p>
            <a href="/donate" class="donate">
              <img class="donate__image" src="/assets/VanniAidDONATE.jpg" alt="Donate to Vanni Aid" />
            </a>
          </p>
          <p>
            <em>
              Vanni Aid Foundation is a <a href="http://www.irs.gov/Charities-&-Non-Profits/Charitable-Organizations/Exemption-Requirements-Section-501(c)(3)-Organizations">501(c)3</a> organization. Your contribution is tax deductible.
            </em>
          </p>
        </div>
      </SplitArea>
    </section>
  </main>
</Layout>