---
const { pageName, title, description } = Astro.props

// const pageNames = ['index', 'contact', 'donate']
// import '../styles/index.scss'
// import '../styles/contact.scss'
// import '../styles/donate.scss'

import '../styles/globals.scss'
import '../styles/globalContent.scss'

if (pageName === 'index') import '../styles/index.scss'
if (pageName === 'contact') import '../styles/contact.scss'
if (pageName === 'donate') import '../styles/donate.scss'
---
<main id="content">
    <h1 class="page-title" set:html={title} />
    <p class="page-description" set:html={description} />
    {theDesc}
    <section class="content">
        <slot />
    </section>
</main>