---
const { pageName, title, description } = Astro.props

// const pageNames = ['index', 'contact', 'donate']
// import '../styles/index.scss'
// import '../styles/contact.scss'
// import '../styles/donate.scss'

import '../styles/globals.scss'
import '../styles/globalContent.scss'

if (pageName === 'index') import '../styles/index.scss'
if (pageName === 'contact') import '../styles/contact.scss'
if (pageName === 'donate') import '../styles/donate.scss'

var theTitle = `<h1 class="page-title">${title}</h1>`
while (theTitle === '<h1 class="page-title"></h1>') theTitle === ''
var theDesc = `<p class="page-description"><strong>${description}</strong></p>`
while (theDesc === '<p class="page-description"><strong></strong></p>') theDesc === ''
---
<main id="content">
    {theTitle}
    {theDesc}
    <section class="content">
        <slot />
    </section>
</main>