---
import '../styles/splitArea.scss'
const { idName } = Astro.props
---
<section class="split-area" id={idName}>
    <slot />
</section>
<script src="/splitAreaImages.js" idName={idName}></script>